---
import ExperienceList from "./ExperienceList.astro";
import { Experiences } from "../../consts";
---

<div class="mb-4 h-auto">
  <p class="font-bold text-xl mb-4">
    Experience & <span class="text-primary">Projects</span>
  </p>
  {
    Experiences.map((exp) => (
      <ExperienceList
        title={exp.Title}
        description={exp.Description}
        image={exp.Image}
      />
    ))
  }
</div>
