<div class="w-full h-[50vh] flex">
  <div class="h-full flex flex-col justify-center w-full md:w-[70%]">
    <p class="font-bold text-3xl mb-4">
      Hi there, I'm <span class="text-primary">Borgir</span> 👌
    </p>
    <p class="text-md lg:text-xl xl:text-3xl">
      Hi there! I'm Borgir, a passionate and dedicated material engineering
      student with a strong focus on the dynamic and exciting field of energy
      storage. As I approach the final year of my academic journey, I am
      thrilled to combine my knowledge, skills, and innovative mindset to make a
      significant impact on the future of sustainable energy solutions.
    </p>
  </div>
  <div class="h-full w-[30%] justify-center items-center hidden md:flex">
    <img src="/marcy.png" alt="logo" class="w-82 h-96 items-center" />
  </div>
</div>
