---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="navbar bg-base-100 p-0">
  <div class="flex-1">
    <a class="normal-case text-xl text-primary md:text-3xl" href="/"
      >{SITE_TITLE}</a
    >
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 text-sm">
      <HeaderLink href="/blog" pageName="Blog" />
    </ul>
  </div>
</header>
