---
import type { CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <article class="flex flex-col">
    <div class="text-center font-bold text-xl cursor-pointer mb-8">
      {title}
    </div>
    {
      heroImage && (
        <img width={720} height={360} src={heroImage} alt="blog image" />
      )
    }
    <br />
    <slot />
  </article>
</Layout>
